@tailwind base;
@tailwind components;
@tailwind utilities;

/* set the default font color for the document */
html,
body {
  color: theme(colors.black-400);
  scroll-behavior: smooth;
}

/* keep the footer always in the bottom of the page */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* custom grid for the contact in the homepage */
.custom-grid {
  grid-template-columns: 1fr auto 1fr;
}

/* custom grid for the form in the enroll page */
.custom-enroll-grid {
  grid-template-columns: 0.66fr 0.33fr;
}

/* toggle plans */
label.active {
  background: theme(colors.white-400);
}

[data-toggle-target].active {
  display: block;
}

/* responsive header */
@media (max-width: theme("screens.-md.max")) {
  [data-header="header"] {
    nav > ul {
      transition: 0.3s;

      li {
        transition-duration: 0.2s !important;
        transform: translateX(-10px);
      }
    }

    [data-header="btn"] {
      display: flex;
      align-items: center;
      aspect-ratio: 1/1;

      span {
        background-color: theme(colors.white);
        height: 2px;
        width: 25px;

        &::before,
        &::after {
          content: "";
          display: block;
          width: 25px;
          height: 2px;
          background-color: theme(colors.white);
          transition: 0.3s;
          transform-origin: center;
        }

        &::before {
          margin-top: -7px;
        }

        &::after {
          margin-top: 13px;
        }
      }
    }

    &.opened {
      [data-header="btn"] {
        span {
          background-color: transparent;
          &::before {
            transform: rotate(45deg);
            margin-top: 0;
          }

          &::after {
            transform: rotate(-45deg) translateY(-1px);
            margin-top: -1px;
          }
        }
      }

      nav > ul {
        height: theme(height.full-mobile);
        padding-block: theme(padding.6);

        li {
          opacity: 1;
          transform: translateX(0);

          &:nth-child(1) {
            transition-delay: 0.2s;
          }

          &:nth-child(2) {
            transition-delay: 0.3s;
          }

          &:nth-child(3) {
            transition-delay: 0.4s;
          }

          &:nth-child(4) {
            transition-delay: 0.5s;
          }
        }
      }
    }
  }
}
